
<!DOCTYPE html>
<html>
<head>
    <title>Face Absen</title>
</head>
<body>
    <center>
    <div id="face-login"><h1>Face Login</h1></div>
    <label for="name">Name:</label>
    <input type="text" id="name" required>
    <br>
    <video id="video" width="640" height="480" autoplay></video>
    <br>
    <button onclick="capture()">Capture Photo</button>
    <br>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <br>
    <button onclick="register()">Register</button>
    <button onclick="login()">Login</button>
    </center>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
<style>
   #face-login{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;

}
</style>
</html>
